
@font-face {
	font-family: 'longman';
	src:url('../longman.eot?-wl14rs');
	src:url('../longman.eot?#iefix-wl14rs') format('embedded-opentype'),
		url('../longman.ttf?-wl14rs') format('truetype'),
		url('../longman.woff?-wl14rs') format('woff'),
		url('../longman.svg?-wl14rs#longman') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="lg-"], [class*=" lg-"] {
	font-family: 'longman';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lg-uniF000:before {
	content: "\f000";
}
.lg-uniF001:before {
	content: "\f001";
}
.lg-uniF002:before {
	content: "\f002";
}
.lg-uniF003:before {
	content: "\f003";
}
.lg-uniF004:before {
	content: "\f004";
}
.lg-uniF005:before {
	content: "\f005";
}
.lg-uniF006:before {
	content: "\f006";
}
.lg-uniF007:before {
	content: "\f007";
}
.lg-uniF008:before {
	content: "\f008";
}
.lg-uniF009:before {
	content: "\f009";
}
.lg-uniF00A:before {
	content: "\f00a";
}
.lg-uniF00B:before {
	content: "\f00b";
}
.lg-uniF00C:before {
	content: "\f00c";
}
.lg-uniF00D:before {
	content: "\f00d";
}
.lg-uniF00E:before {
	content: "\f00e";
}
.lg-uniF010:before {
	content: "\f010";
}
.lg-uniF011:before {
	content: "\f011";
}
.lg-uniF012:before {
	content: "\f012";
}
.lg-uniF013:before {
	content: "\f013";
}
.lg-uniF014:before {
	content: "\f014";
}
.lg-uniF015:before {
	content: "\f015";
}
.lg-uniF016:before {
	content: "\f016";
}
.lg-uniF017:before {
	content: "\f017";
}
.lg-uniF018:before {
	content: "\f018";
}
.lg-uniF019:before {
	content: "\f019";
}
.lg-uniF01A:before {
	content: "\f01a";
}
.lg-uniF01B:before {
	content: "\f01b";
}
.lg-uniF01C:before {
	content: "\f01c";
}
.lg-uniF01D:before {
	content: "\f01d";
}
.lg-uniF01E:before {
	content: "\f01e";
}
.lg-uniF021:before {
	content: "\f021";
}
.lg-uniF022:before {
	content: "\f022";
}
.lg-uniF023:before {
	content: "\f023";
}
.lg-uniF024:before {
	content: "\f024";
}
.lg-uniF025:before {
	content: "\f025";
}
.lg-uniF026:before {
	content: "\f026";
}
.lg-uniF027:before {
	content: "\f027";
}
.lg-uniF028:before {
	content: "\f028";
}
.lg-uniF029:before {
	content: "\f029";
}
.lg-uniF02A:before {
	content: "\f02a";
}
.lg-uniF02B:before {
	content: "\f02b";
}
.lg-uniF02C:before {
	content: "\f02c";
}
.lg-uniF02D:before {
	content: "\f02d";
}
.lg-uniF02E:before {
	content: "\f02e";
}
.lg-uniF02F:before {
	content: "\f02f";
}
.lg-uniF030:before {
	content: "\f030";
}
.lg-uniF031:before {
	content: "\f031";
}
.lg-uniF032:before {
	content: "\f032";
}
.lg-uniF033:before {
	content: "\f033";
}
.lg-uniF034:before {
	content: "\f034";
}
.lg-uniF035:before {
	content: "\f035";
}
.lg-uniF036:before {
	content: "\f036";
}
.lg-uniF037:before {
	content: "\f037";
}
.lg-uniF038:before {
	content: "\f038";
}
.lg-uniF039:before {
	content: "\f039";
}
.lg-uniF03A:before {
	content: "\f03a";
}
.lg-uniF03B:before {
	content: "\f03b";
}
.lg-uniF03C:before {
	content: "\f03c";
}
.lg-uniF03D:before {
	content: "\f03d";
}
.lg-uniF03E:before {
	content: "\f03e";
}
.lg-uniF03F:before {
	content: "\f03f";
}
.lg-uniF040:before {
	content: "\f040";
}
.lg-uniF041:before {
	content: "\f041";
}
.lg-uniF042:before {
	content: "\f042";
}
.lg-uniF043:before {
	content: "\f043";
}
.lg-uniF044:before {
	content: "\f044";
}
.lg-uniF045:before {
	content: "\f045";
}
.lg-uniF046:before {
	content: "\f046";
}
.lg-uniF047:before {
	content: "\f047";
}
.lg-uniF048:before {
	content: "\f048";
}
.lg-uniF049:before {
	content: "\f049";
}
.lg-uniF04A:before {
	content: "\f04a";
}
.lg-uniF04B:before {
	content: "\f04b";
}
.lg-uniF04C:before {
	content: "\f04c";
}
.lg-uniF04D:before {
	content: "\f04d";
}
.lg-uniF04E:before {
	content: "\f04e";
}
.lg-uniF04F:before {
	content: "\f04f";
}
.lg-uniF050:before {
	content: "\f050";
}
.lg-uniF051:before {
	content: "\f051";
}
.lg-uniF052:before {
	content: "\f052";
}
.lg-uniF053:before {
	content: "\f053";
}
.lg-uniF054:before {
	content: "\f054";
}
.lg-uniF055:before {
	content: "\f055";
}
.lg-uniF056:before {
	content: "\f056";
}
.lg-uniF057:before {
	content: "\f057";
}
.lg-uniF058:before {
	content: "\f058";
}
.lg-uniF059:before {
	content: "\f059";
}
.lg-uniF05A:before {
	content: "\f05a";
}
.lg-uniF05B:before {
	content: "\f05b";
}
.lg-uniF05C:before {
	content: "\f05c";
}
.lg-uniF05D:before {
	content: "\f05d";
}
.lg-uniF05E:before {
	content: "\f05e";
}
.lg-uniF05F:before {
	content: "\f05f";
}
.lg-uniF060:before {
	content: "\f060";
}
.lg-uniF061:before {
	content: "\f061";
}
.lg-uniF062:before {
	content: "\f062";
}
.lg-uniF063:before {
	content: "\f063";
}
.lg-uniF064:before {
	content: "\f064";
}
.lg-uniF065:before {
	content: "\f065";
}
.lg-uniF066:before {
	content: "\f066";
}
.lg-uniF067:before {
	content: "\f067";
}
.lg-uniF068:before {
	content: "\f068";
}
.lg-uniF069:before {
	content: "\f069";
}
.lg-uniF06A:before {
	content: "\f06a";
}
.lg-uniF06B:before {
	content: "\f06b";
}
.lg-uniF06C:before {
	content: "\f06c";
}
.lg-uniF06D:before {
	content: "\f06d";
}
.lg-uniF06E:before {
	content: "\f06e";
}
.lg-uniF070:before {
	content: "\f070";
}
.lg-uniF071:before {
	content: "\f071";
}
.lg-uniF072:before {
	content: "\f072";
}
.lg-uniF073:before {
	content: "\f073";
}
.lg-uniF074:before {
	content: "\f074";
}
.lg-uniF075:before {
	content: "\f075";
}
.lg-uniF076:before {
	content: "\f076";
}
.lg-uniF077:before {
	content: "\f077";
}
.lg-uniF078:before {
	content: "\f078";
}
.lg-uniF079:before {
	content: "\f079";
}
.lg-uniF07A:before {
	content: "\f07a";
}
.lg-uniF07B:before {
	content: "\f07b";
}
.lg-uniF07C:before {
	content: "\f07c";
}
.lg-uniF07D:before {
	content: "\f07d";
}
.lg-uniF07E:before {
	content: "\f07e";
}
.lg-uniF080:before {
	content: "\f080";
}
.lg-uniF081:before {
	content: "\f081";
}
.lg-uniF082:before {
	content: "\f082";
}
.lg-uniF083:before {
	content: "\f083";
}
.lg-uniF084:before {
	content: "\f084";
}
.lg-uniF085:before {
	content: "\f085";
}
.lg-uniF086:before {
	content: "\f086";
}
.lg-uniF087:before {
	content: "\f087";
}
.lg-uniF088:before {
	content: "\f088";
}
.lg-uniF089:before {
	content: "\f089";
}
.lg-uniF08A:before {
	content: "\f08a";
}
.lg-uniF08B:before {
	content: "\f08b";
}
.lg-uniF08C:before {
	content: "\f08c";
}
.lg-uniF08D:before {
	content: "\f08d";
}
.lg-uniF08E:before {
	content: "\f08e";
}
.lg-uniF08F:before {
	content: "\f08f";
}
.lg-uniF090:before {
	content: "\f090";
}
.lg-uniF091:before {
	content: "\f091";
}
.lg-uniF092:before {
	content: "\f092";
}
.lg-uniF093:before {
	content: "\f093";
}
.lg-uniF094:before {
	content: "\f094";
}
.lg-uniF095:before {
	content: "\f095";
}
.lg-uniF096:before {
	content: "\f096";
}
.lg-uniF097:before {
	content: "\f097";
}
.lg-uniF098:before {
	content: "\f098";
}
.lg-uniF099:before {
	content: "\f099";
}
.lg-uniF09A:before {
	content: "\f09a";
}
.lg-uniF09B:before {
	content: "\f09b";
}
.lg-uniF09C:before {
	content: "\f09c";
}
.lg-uniF09D:before {
	content: "\f09d";
}
.lg-uniF09E:before {
	content: "\f09e";
}
.lg-uniF0A0:before {
	content: "\f0a0";
}
.lg-uniF0A1:before {
	content: "\f0a1";
}
.lg-uniF0A2:before {
	content: "\f0a2";
}
.lg-uniF0A3:before {
	content: "\f0a3";
}
.lg-uniF0A4:before {
	content: "\f0a4";
}
.lg-uniF0A5:before {
	content: "\f0a5";
}
.lg-uniF0A6:before {
	content: "\f0a6";
}
.lg-uniF0A7:before {
	content: "\f0a7";
}
.lg-uniF0A8:before {
	content: "\f0a8";
}
.lg-uniF0A9:before {
	content: "\f0a9";
}
.lg-uniF0AA:before {
	content: "\f0aa";
}
.lg-uniF0AB:before {
	content: "\f0ab";
}
.lg-uniF0AC:before {
	content: "\f0ac";
}
.lg-uniF0AD:before {
	content: "\f0ad";
}
.lg-uniF0AE:before {
	content: "\f0ae";
}
.lg-uniF0B0:before {
	content: "\f0b0";
}
.lg-uniF0B1:before {
	content: "\f0b1";
}
.lg-uniF0B2:before {
	content: "\f0b2";
}
.lg-uniF0C0:before {
	content: "\f0c0";
}
.lg-uniF0C1:before {
	content: "\f0c1";
}
.lg-uniF0C2:before {
	content: "\f0c2";
}
.lg-uniF0C3:before {
	content: "\f0c3";
}
.lg-uniF0C4:before {
	content: "\f0c4";
}
.lg-uniF0C5:before {
	content: "\f0c5";
}
.lg-uniF0C6:before {
	content: "\f0c6";
}
.lg-uniF0C7:before {
	content: "\f0c7";
}
.lg-uniF0C8:before {
	content: "\f0c8";
}
.lg-uniF0C9:before {
	content: "\f0c9";
}
.lg-uniF0CA:before {
	content: "\f0ca";
}
.lg-uniF0CB:before {
	content: "\f0cb";
}
.lg-uniF0CC:before {
	content: "\f0cc";
}
.lg-uniF0CD:before {
	content: "\f0cd";
}
.lg-uniF0CE:before {
	content: "\f0ce";
}
.lg-uniF0D0:before {
	content: "\f0d0";
}
.lg-uniF0D1:before {
	content: "\f0d1";
}
.lg-uniF0D2:before {
	content: "\f0d2";
}
.lg-uniF0D3:before {
	content: "\f0d3";
}
.lg-uniF0D4:before {
	content: "\f0d4";
}
.lg-uniF0D5:before {
	content: "\f0d5";
}
.lg-uniF0D6:before {
	content: "\f0d6";
}
.lg-uniF0D7:before {
	content: "\f0d7";
}
.lg-uniF0D8:before {
	content: "\f0d8";
}
.lg-uniF0D9:before {
	content: "\f0d9";
}
.lg-uniF0DA:before {
	content: "\f0da";
}
.lg-uniF0DB:before {
	content: "\f0db";
}
.lg-uniF0DC:before {
	content: "\f0dc";
}
.lg-uniF0DD:before {
	content: "\f0dd";
}
.lg-uniF0DE:before {
	content: "\f0de";
}
.lg-uniF0E0:before {
	content: "\f0e0";
}
.lg-uniF0E1:before {
	content: "\f0e1";
}
.lg-uniF0E2:before {
	content: "\f0e2";
}
.lg-uniF0E3:before {
	content: "\f0e3";
}
.lg-uniF0E4:before {
	content: "\f0e4";
}
.lg-uniF0E5:before {
	content: "\f0e5";
}
.lg-uniF0E6:before {
	content: "\f0e6";
}
.lg-uniF0E7:before {
	content: "\f0e7";
}
.lg-uniF0E8:before {
	content: "\f0e8";
}
.lg-uniF0E9:before {
	content: "\f0e9";
}
.lg-uniF0EA:before {
	content: "\f0ea";
}
.lg-uniF0EB:before {
	content: "\f0eb";
}
.lg-uniF0EC:before {
	content: "\f0ec";
}
.lg-uniF0ED:before {
	content: "\f0ed";
}
.lg-uniF0EE:before {
	content: "\f0ee";
}
.lg-uniF0F0:before {
	content: "\f0f0";
}
.lg-uniF0F1:before {
	content: "\f0f1";
}
.lg-uniF0F2:before {
	content: "\f0f2";
}
.lg-uniF0F3:before {
	content: "\f0f3";
}
.lg-uniF0F4:before {
	content: "\f0f4";
}
.lg-uniF0F5:before {
	content: "\f0f5";
}
.lg-uniF0F6:before {
	content: "\f0f6";
}
.lg-uniF0F7:before {
	content: "\f0f7";
}
.lg-uniF0F8:before {
	content: "\f0f8";
}
.lg-uniF0F9:before {
	content: "\f0f9";
}
.lg-uniF0FA:before {
	content: "\f0fa";
}
.lg-uniF0FB:before {
	content: "\f0fb";
}
.lg-uniF0FC:before {
	content: "\f0fc";
}
.lg-uniF0FD:before {
	content: "\f0fd";
}
.lg-uniF0FE:before {
	content: "\f0fe";
}
.lg-uniF100:before {
	content: "\f100";
}
.lg-uniF101:before {
	content: "\f101";
}
.lg-uniF102:before {
	content: "\f102";
}
.lg-uniF103:before {
	content: "\f103";
}
.lg-uniF104:before {
	content: "\f104";
}
.lg-uniF105:before {
	content: "\f105";
}
.lg-uniF106:before {
	content: "\f106";
}
.lg-uniF107:before {
	content: "\f107";
}
.lg-uniF108:before {
	content: "\f108";
}
.lg-uniF109:before {
	content: "\f109";
}
.lg-uniF10A:before {
	content: "\f10a";
}
.lg-uniF10B:before {
	content: "\f10b";
}
.lg-uniF10C:before {
	content: "\f10c";
}
.lg-uniF10D:before {
	content: "\f10d";
}
.lg-uniF10E:before {
	content: "\f10e";
}
.lg-uniF110:before {
	content: "\f110";
}
.lg-uniF111:before {
	content: "\f111";
}
.lg-uniF112:before {
	content: "\f112";
}
.lg-uniF113:before {
	content: "\f113";
}
.lg-uniF114:before {
	content: "\f114";
}
.lg-uniF115:before {
	content: "\f115";
}
.lg-uniF118:before {
	content: "\f118";
}
.lg-uniF119:before {
	content: "\f119";
}
.lg-uniF11A:before {
	content: "\f11a";
}
.lg-uniF11B:before {
	content: "\f11b";
}
.lg-uniF11C:before {
	content: "\f11c";
}
.lg-uniF11D:before {
	content: "\f11d";
}
.lg-uniF11E:before {
	content: "\f11e";
}
.lg-uniF120:before {
	content: "\f120";
}
.lg-uniF121:before {
	content: "\f121";
}
.lg-uniF122:before {
	content: "\f122";
}
.lg-uniF123:before {
	content: "\f123";
}
.lg-uniF124:before {
	content: "\f124";
}
.lg-uniF125:before {
	content: "\f125";
}
.lg-uniF126:before {
	content: "\f126";
}
.lg-uniF127:before {
	content: "\f127";
}
.lg-uniF128:before {
	content: "\f128";
}
.lg-uniF129:before {
	content: "\f129";
}
.lg-uniF12A:before {
	content: "\f12a";
}
.lg-uniF12B:before {
	content: "\f12b";
}
.lg-uniF12C:before {
	content: "\f12c";
}
.lg-uniF12D:before {
	content: "\f12d";
}
.lg-uniF12E:before {
	content: "\f12e";
}
.lg-uniF130:before {
	content: "\f130";
}
.lg-uniF131:before {
	content: "\f131";
}
.lg-uniF132:before {
	content: "\f132";
}
.lg-uniF133:before {
	content: "\f133";
}
.lg-uniF134:before {
	content: "\f134";
}
.lg-uniF135:before {
	content: "\f135";
}
.lg-uniF136:before {
	content: "\f136";
}
.lg-uniF137:before {
	content: "\f137";
}
.lg-uniF138:before {
	content: "\f138";
}
.lg-uniF139:before {
	content: "\f139";
}
.lg-uniF13A:before {
	content: "\f13a";
}
.lg-uniF13B:before {
	content: "\f13b";
}
.lg-uniF13C:before {
	content: "\f13c";
}
.lg-uniF13D:before {
	content: "\f13d";
}
.lg-uniF13E:before {
	content: "\f13e";
}
.lg-uniF140:before {
	content: "\f140";
}
.lg-uniF14F:before {
	content: "\f14f";
}
.lg-uniF15F:before {
	content: "\f15f";
}
.lg-uniF16F:before {
	content: "\f16f";
}
.lg-uniF141:before {
	content: "\f141";
}
.lg-uniF142:before {
	content: "\f142";
}
.lg-uniF143:before {
	content: "\f143";
}
.lg-uniF144:before {
	content: "\f144";
}
.lg-uniF145:before {
	content: "\f145";
}
.lg-uniF146:before {
	content: "\f146";
}
.lg-uniF147:before {
	content: "\f147";
}
.lg-uniF148:before {
	content: "\f148";
}
.lg-uniF149:before {
	content: "\f149";
}
.lg-uniF14A:before {
	content: "\f14a";
}
.lg-uniF14B:before {
	content: "\f14b";
}
.lg-uniF14C:before {
	content: "\f14c";
}
.lg-uniF14D:before {
	content: "\f14d";
}
.lg-uniF14E:before {
	content: "\f14e";
}
.lg-uniF150:before {
	content: "\f150";
}
.lg-uniF151:before {
	content: "\f151";
}
.lg-uniF152:before {
	content: "\f152";
}
.lg-uniF153:before {
	content: "\f153";
}
.lg-uniF154:before {
	content: "\f154";
}
.lg-uniF155:before {
	content: "\f155";
}
.lg-uniF156:before {
	content: "\f156";
}
.lg-uniF157:before {
	content: "\f157";
}
.lg-uniF158:before {
	content: "\f158";
}
.lg-uniF159:before {
	content: "\f159";
}
.lg-uniF15A:before {
	content: "\f15a";
}
.lg-uniF15B:before {
	content: "\f15b";
}
.lg-uniF15C:before {
	content: "\f15c";
}
.lg-uniF15D:before {
	content: "\f15d";
}
.lg-uniF15E:before {
	content: "\f15e";
}
.lg-uniF160:before {
	content: "\f160";
}
.lg-uniF161:before {
	content: "\f161";
}
.lg-uniF162:before {
	content: "\f162";
}
.lg-uniF163:before {
	content: "\f163";
}
.lg-uniF164:before {
	content: "\f164";
}
.lg-uniF165:before {
	content: "\f165";
}
.lg-uniF166:before {
	content: "\f166";
}
.lg-uniF167:before {
	content: "\f167";
}
.lg-uniF168:before {
	content: "\f168";
}
.lg-uniF169:before {
	content: "\f169";
}
.lg-uniF16A:before {
	content: "\f16a";
}
.lg-uniF16B:before {
	content: "\f16b";
}
.lg-uniF16C:before {
	content: "\f16c";
}
.lg-uniF16D:before {
	content: "\f16d";
}
.lg-uniF16E:before {
	content: "\f16e";
}
.lg-uniF170:before {
	content: "\f170";
}
.lg-uniF171:before {
	content: "\f171";
}
.lg-uniF172:before {
	content: "\f172";
}
.lg-uniF173:before {
	content: "\f173";
}
.lg-uniF174:before {
	content: "\f174";
}
.lg-uniF175:before {
	content: "\f175";
}
.lg-uniF176:before {
	content: "\f176";
}
.lg-uniF177:before {
	content: "\f177";
}
.lg-uniF178:before {
	content: "\f178";
}
.lg-uniF179:before {
	content: "\f179";
}
.lg-uniF17A:before {
	content: "\f17a";
}
.lg-uniF17B:before {
	content: "\f17b";
}
.lg-uniF17C:before {
	content: "\f17c";
}
.lg-uniF17D:before {
	content: "\f17d";
}
.lg-uniF17E:before {
	content: "\f17e";
}
.lg-uniF180:before {
	content: "\f180";
}
.lg-uniF181:before {
	content: "\f181";
}
.lg-uniF182:before {
	content: "\f182";
}
.lg-uniF183:before {
	content: "\f183";
}
.lg-uniF184:before {
	content: "\f184";
}
.lg-uniF185:before {
	content: "\f185";
}
.lg-uniF186:before {
	content: "\f186";
}
.lg-uniF187:before {
	content: "\f187";
}
.lg-uniF188:before {
	content: "\f188";
}
.lg-uniF189:before {
	content: "\f189";
}
.lg-uniF18A:before {
	content: "\f18a";
}
.lg-uniF18B:before {
	content: "\f18b";
}
.lg-uniF18C:before {
	content: "\f18c";
}
.lg-uniF18D:before {
	content: "\f18d";
}
.lg-uniF18E:before {
	content: "\f18e";
}
.lg-uniF190:before {
	content: "\f190";
}
.lg-uniF191:before {
	content: "\f191";
}
.lg-uniF192:before {
	content: "\f192";
}
.lg-uniF193:before {
	content: "\f193";
}
.lg-uniF194:before {
	content: "\f194";
}
.lg-uniF195:before {
	content: "\f195";
}
.lg-uniF196:before {
	content: "\f196";
}
.lg-uniF197:before {
	content: "\f197";
}
.lg-uniF198:before {
	content: "\f198";
}
.lg-uniF199:before {
	content: "\f199";
}
.lg-uniF19A:before {
	content: "\f19a";
}
.lg-uniF19B:before {
	content: "\f19b";
}
.lg-uniF19C:before {
	content: "\f19c";
}
.lg-uniF19D:before {
	content: "\f19d";
}
.lg-uniF19E:before {
	content: "\f19e";
}
.lg-uniF1A0:before {
	content: "\f1a0";
}
.lg-uniF1A1:before {
	content: "\f1a1";
}
.lg-uniF1A2:before {
	content: "\f1a2";
}
.lg-uniF1A3:before {
	content: "\f1a3";
}
.lg-uniF1A4:before {
	content: "\f1a4";
}
.lg-uniF1A5:before {
	content: "\f1a5";
}
.lg-uniF1A6:before {
	content: "\f1a6";
}
.lg-uniF1A7:before {
	content: "\f1a7";
}
.lg-uniF1A8:before {
	content: "\f1a8";
}
.lg-uniF1A9:before {
	content: "\f1a9";
}
.lg-uniF1AA:before {
	content: "\f1aa";
}
.lg-uniF1AB:before {
	content: "\f1ab";
}
.lg-uniF1AC:before {
	content: "\f1ac";
}
.lg-uniF1AD:before {
	content: "\f1ad";
}
.lg-uniF1AE:before {
	content: "\f1ae";
}
.lg-uniF1B0:before {
	content: "\f1b0";
}
.lg-uniF1B1:before {
	content: "\f1b1";
}
.lg-uniF1B2:before {
	content: "\f1b2";
}
.lg-uniF1B3:before {
	content: "\f1b3";
}
.lg-uniF1B4:before {
	content: "\f1b4";
}
.lg-uniF1B5:before {
	content: "\f1b5";
}
.lg-uniF1B6:before {
	content: "\f1b6";
}
.lg-uniF1B7:before {
	content: "\f1b7";
}
.lg-uniF1B8:before {
	content: "\f1b8";
}
.lg-uniF1B9:before {
	content: "\f1b9";
}
.lg-uniF1BA:before {
	content: "\f1ba";
}
.lg-uniF1BB:before {
	content: "\f1bb";
}
.lg-uniF1BC:before {
	content: "\f1bc";
}
.lg-uniF1BD:before {
	content: "\f1bd";
}
.lg-uniF1BE:before {
	content: "\f1be";
}
.lg-uniF1C0:before {
	content: "\f1c0";
}
.lg-uniF1C1:before {
	content: "\f1c1";
}
.lg-uniF1C2:before {
	content: "\f1c2";
}
.lg-uniF1C3:before {
	content: "\f1c3";
}
.lg-uniF1C4:before {
	content: "\f1c4";
}
.lg-uniF1C5:before {
	content: "\f1c5";
}
.lg-uniF1C6:before {
	content: "\f1c6";
}
.lg-uniF1C7:before {
	content: "\f1c7";
}
.lg-uniF1C8:before {
	content: "\f1c8";
}
.lg-uniF1C9:before {
	content: "\f1c9";
}
.lg-uniF1CA:before {
	content: "\f1ca";
}
.lg-uniF1CB:before {
	content: "\f1cb";
}
.lg-uniF1CC:before {
	content: "\f1cc";
}
.lg-uniF1CD:before {
	content: "\f1cd";
}
.lg-uniF1CE:before {
	content: "\f1ce";
}
.lg-uniF1D0:before {
	content: "\f1d0";
}
.lg-uniF1D1:before {
	content: "\f1d1";
}
.lg-uniF1D2:before {
	content: "\f1d2";
}
.lg-uniF1D3:before {
	content: "\f1d3";
}
.lg-uniF1D4:before {
	content: "\f1d4";
}
.lg-uniF1D5:before {
	content: "\f1d5";
}
.lg-uniF1D6:before {
	content: "\f1d6";
}
.lg-uniF1D7:before {
	content: "\f1d7";
}
.lg-uniF1D8:before {
	content: "\f1d8";
}
.lg-uniF1D9:before {
	content: "\f1d9";
}
.lg-uniF1DA:before {
	content: "\f1da";
}
.lg-uniF1DB:before {
	content: "\f1db";
}
.lg-uniF1DC:before {
	content: "\f1dc";
}
.lg-uniF1DD:before {
	content: "\f1dd";
}
.lg-uniF1DE:before {
	content: "\f1de";
}
.lg-uniF1E0:before {
	content: "\f1e0";
}
.lg-uniF1E1:before {
	content: "\f1e1";
}
.lg-uniF1E2:before {
	content: "\f1e2";
}
.lg-uniF1E3:before {
	content: "\f1e3";
}
.lg-uniF1E4:before {
	content: "\f1e4";
}
.lg-uniF1E5:before {
	content: "\f1e5";
}
.lg-uniF1E6:before {
	content: "\f1e6";
}
.lg-uniF1E7:before {
	content: "\f1e7";
}
.lg-uniF1E8:before {
	content: "\f1e8";
}
.lg-uniF1E9:before {
	content: "\f1e9";
}
.lg-uniF1EA:before {
	content: "\f1ea";
}
.lg-uniF1EB:before {
	content: "\f1eb";
}
.lg-uniF1EC:before {
	content: "\f1ec";
}
.lg-uniF1ED:before {
	content: "\f1ed";
}
.lg-uniF1EE:before {
	content: "\f1ee";
}
.lg-uniF1F0:before {
	content: "\f1f0";
}
.lg-uniF1F1:before {
	content: "\f1f1";
}
.lg-uniF1F2:before {
	content: "\f1f2";
}
.lg-uniF1F3:before {
	content: "\f1f3";
}
.lg-uniF1F4:before {
	content: "\f1f4";
}
.lg-uniF1F5:before {
	content: "\f1f5";
}
.lg-uniF1F6:before {
	content: "\f1f6";
}
.lg-uniF1F7:before {
	content: "\f1f7";
}
.lg-uniF1F8:before {
	content: "\f1f8";
}
.lg-uniF1F9:before {
	content: "\f1f9";
}
.lg-uniF1FA:before {
	content: "\f1fa";
}
.lg-uniF1FB:before {
	content: "\f1fb";
}
.lg-uniF1FC:before {
	content: "\f1fc";
}
.lg-uniF1FD:before {
	content: "\f1fd";
}
.lg-uniF1FE:before {
	content: "\f1fe";
}
.lg-uniF200:before {
	content: "\f200";
}
.lg-uniF201:before {
	content: "\f201";
}
.lg-uniF202:before {
	content: "\f202";
}
.lg-uniF203:before {
	content: "\f203";
}
.lg-uniF204:before {
	content: "\f204";
}
.lg-uniF205:before {
	content: "\f205";
}
.lg-uniF206:before {
	content: "\f206";
}
.lg-uniF207:before {
	content: "\f207";
}
.lg-uniF208:before {
	content: "\f208";
}
.lg-uniF209:before {
	content: "\f209";
}
.lg-uniF20A:before {
	content: "\f20a";
}
.lg-uniF20B:before {
	content: "\f20b";
}
.lg-uniF20C:before {
	content: "\f20c";
}
.lg-uniF20D:before {
	content: "\f20d"
}
.lg-uniF20E:before {
	content: "\f20e"
}
.lg-uniF212:before {
	content: "\f212"
}
.lg-uniF214:before {
	content: "\f214"
}