/***** GENERATED CSS FOR  LDOCE  ***************************/
Entry
{
    font-family : "MundoSansPro";
    font-size : 11pt;
	display:block;
}

.supp
{
	background-color:gray;
}

ABBR
{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}

ACTIV
{
	display:none;
}

AMEQUIV
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

AmEVariant
{
}


BOX
{
	display:none;
}

BoxCollo
{
}

BREQUIV
{
	font-family:"MundoSansPro-Bold";
}

BrEVariant
{
}

COLLO
{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}

ColloExa
{
    font-family:"MundoSansPro";
    font-size:16px;
}

COLLOINEXA
{
	font-family:"MundoSansPro-BoldItalic";
    font-size:16px;
}

COMMENT
{
	display:none;
}

COMP
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

Crossref
{
    font-family:"MundoSansPro";
    font-size:16px;
}

Crossrefto
{
   font-family:"MundoSansPro";
    font-size:16px;
}

CROSSREFTYPE
{
    font-family:"MundoSansPro";
    font-size:16px;
}

DEF
{
}

DERIV
{
	font-family:"MundoSansPro-Medium";
	color:#32648B;
}

Entry
{
    /*font-family : "Arial Unicode MS";*/
    font-size : 11pt;
}

ErrorBox
{
	display:block;
}

EXAMPLE
{
	font-family:"MundoSansPro-Italic";
	/*font-family:Times New roman; */
}


FIELD
{
	display:none;
}

FREQ, LEVEL
{
	font-family:"MundoSansPro-Bold";
	color:red;
}

FULLFORM
{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}

GEO, span.geo
{
	font-family:"MundoSansPro-Italic";
	font-size:16px;
}

GLOSS
{
    font-family:"MundoSansPro";
    font-size:16px;
}

GramExa
{
    font-family:"MundoSansPro";
    font-size:16px;
}

Head
{
}

Thesref{
   display:table-cell;
}
Hint
{
    display:block;
    font-family:"MundoSansPro";
    font-size:16px;
}

HINTBOLD
{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}

HINTITALIC
{
	font-family:"MundoSansPro-Italic";
	font-size:16px;
}

HINTTITLE
{
	font-family:"MundoSansPro-Bold";
}

HOMNUM
{
    vertical-align : super;
    font-size : 8pt;
    /*color: blue;*/
	font-weight:bold;
}

HWD
{
	/*display:none;*/
}

HYPHENATION
{
	font-family:"MundoSansPro-Bold";
	font-size:120%;
    /*color: blue;*/
}

Inflections
{
    font-family:"MundoSansPro";
    font-size:16px;
}

LEXUNIT
{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
}

LEXVAR
{
	font-family:"MundoSansPro-Medium";
    font-size:16px;
}

LINKWORD
{
    font-family:"MundoSansPro-Italic";
    font-size:16px;
}

NonDV
{
    font-family:"MundoSansPro";
    font-size:16px;
}

NOTE
{
	display:none;
}

Noteprompt
{
	display:none;
}

OBJECT
{
	font-family:"MundoSansPro";
	font-size:16px;
}

OPP
{
	font-family:"MundoSansPro-Bold";
}

ORTHVAR
{
	 font-family:"MundoSansPro-Medium";
     font-size:16px;
}

PASTPART
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

PASTTENSE
{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
}

PhrVbEntry
{
	display:block;
}

PHRVBHWD
{
	font-weight:bold;
	/*color:blue;*/
}

PIC
{
	display:none;
}

PICCAL
{
	display:none;
}

PLURALFORM
{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
}

POS
{
    font-family:"MundoSansPro-Italic";
    font-size:16px;
    color:#32648B;
}

PRESPART
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

PRESPARTX
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}


PROPFORM
{
	font-family:"MundoSansPro-Medium";
    font-size:16px;
}

PROPFORMPREP
{
	font-family:"MundoSansPro-Medium";
    font-size:16px;
}

PTandPP
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

PTandPPX
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

REFHOMNUM
{
    vertical-align : super;
	font-size:12px;
	font-family:"MundoSansPro";
}

REFHWD
{
    font-size:16px;
    font-family:"MundoSansPro";
    text-transform:uppercase;
}

Crossrefto REFLEX{
	display:none;
}

REFLEX
{
	 font-family:"MundoSansPro-Bold";
     font-size:16px;
}

REFSENSENUM
{
    font-family:"MundoSansPro";
    font-size:16px;
}

REGISTERLAB
{
    font-family:"MundoSansPro-Italic";
    font-size:16px;
}

RELATEDWD
{
	 font-family:"MundoSansPro-Medium";
     font-size:16px;
}

RunOn
{
    display:block;
    padding-top: 8px;

}

Sense
{
}

Sense.newline
{
	display:block;
}

SIGNPOST
{
	color: #85A8C4;
    font-family: "MundoSansPro-Medium";
    font-size: 20px;
}

spokensect
{
	background-color:  #EDF4FA;
	display:block;
}

STRONG
{
	font-family: "MundoSansPro-Italic";
    font-size: 16px;
}

Subsense
{
}

SUFFIX
{
    font-family:"MundoSansPro";
    font-size:16px;
}

SUPERL
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

SYN
{
    font-family:"MundoSansPro-Bold";
}

T3PERSSING
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

T3PERSSINGX
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

Tail
{
    display: block;
    padding: 10px;
}

UNCLASSIFIED
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

USAGE
{
	display:none;
}

Variant
{
    font-family:"MundoSansPro";
    font-size:16px;
}

span.neutral
{
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	font-family:"MundosansPro";
}

span.italic
{
	font-family:"MundoSansPro-Italic";
	font-size:16px;
	/*font-family:Times New roman; */
}

span.infllab
{
	font-family:"MundoSansPro-Italic";
	font-size:16px;
	/*font-family:Times New roman; */
}

span.warning
{
	font-style:normal;
	font-weight:bold;
	/*font-family:Arial Unicode MS;*/
	color:red;
}

span.sensenum
{
	font-style:normal;
	font-weight:bold;
	margin-right:3px;
	margin-left:3px;
	color:#917F5C;
}

span.synopp
{
	font-style:normal;
	font-weight:bold;
	color:darkblue;
}

ColloBox, ThesBox, F2NBox, GramBox, UsageBox{
	display:block;
	background-color:#EDF4FA;
	padding:15px;
	color: #32648B;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:thin;
	padding: 5px;
	margin: 8px 0 !important;

}

grambox colloinexa, F2NBox colloinexa{
    color:#5B88AC;
    font-family:"MundoSansPro-BoldItalic";
    font-size:16px;
}

tail grambox,tail F2NBox, tail UsageBox{
	margin: 0 35px;
}

GramBox.nobox{
	display:block;
	background-color:#EDF4FA;
	padding:15px;
    color: #32648B;
   	border-top-style:solid;
   	border-bottom-style:solid;
   	border-width:thin;
   	padding: 5px;
   	margin: 8px 0 !important;
}

GramBox.nobox EXPL{
	display:block;
}

HEADING, span.heading, .Gramref{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
	color:#20558E;
}

.gramref{
	margin-left:5px;
	margin-right:5px;
	font-family:"MundoSansPro";
	font-size:16px;

}

HEADING.newline{
	display:block;
}

SECHEADING, span.subheading{
	display:block;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
}

Collocate.newline, Exponent{
	display:block;
}

Collocate.inline{
	display:inline;
}

GramBox EXPL{
	display:block;
}

EXPL.newline{
	display:block; 
}

COLLOC{
	font-weight:bold;
}

EXP{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
    color:#5B88AC;
}

EXPR{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
	color:#5B88AC;
}

COLLOC.key{
	color:blue;
}

span.keycollo{
	font-weight:bold;
	color:blue;
}

THESPROPFORM{
	font-weight:bold;
}

COLLEXA{
	font-style:italic;
}

THESEXA{
	font-style:italic;
}

LearnerItem{
	display:block;
}

GOODCOLLO{
	font-style:italic;
}

BADCOLLO, BADEXA{
	text-decoration:line-through;
	font-family:"MundoSansPro-Italic";
    font-size:16px;

}

DEFBOLD{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}


span.blue{
}

CompareWord{
	display:block;
}

CompareWord, EXP{
	display:block;
}

UNDERLINE{
	text-decoration:underline;
}

.boxheader{
	display:block;
    color:#20558E;
	font-family:"MundoSansPro-Medium";
}

@font-face {
 font-family: 'MundoSansPro';
 src: url('../MundoSansPro.otf')
}
@font-face {
 font-family: 'MundoSansPro-Bold';
 src: url('../MundoSansPro-Bold.otf')
}
@font-face {
 font-family: 'MundoSansPro-Medium';
 src: url('../MundoSansPro-Medium.otf')
}
@font-face {
 font-family: 'MundoSansPro-MediumItalic';
 src: url('../MundoSansPro-MediumItalic.otf')
}
@font-face {
 font-family: 'MundoSansPro-BoldItalic';
 src: url('../MundoSansPro-BoldItalic.otf')
}
@font-face {
 font-family: 'MundoSansPro-Italic';
 src: url('../MundoSansPro-Italic.otf')
}
@font-face {
 font-family: 'MundoSansPro-Light';
 src: url('../MundoSansPro-Light.otf')
}
@font-face {
 font-family: 'MundoSansPro-LightItalic';
 src: url('../MundoSansPro-LightItalic.otf')
}
@font-face {
 font-family: 'CharisSILR';
 src: url('../CharisSILR.ttf')
}

@font-face {
 font-family: 'CharisSILI';
 src: url('../CharisSILI.ttf')
}
body{
	font-family: "MundoSansPro";
	margin:0 !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.head-cell{
    background: #EDF4FA;
    padding: 5pt;
    color: #284D69;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.hidden{
	display:none !important;
}
.super-script
{
	font-family:"MundoSansPro-Medium";
	font-size:10pt;
	vertical-align: super;
}
.freq-info{
	display:none;
}
.level{
	color:red;
}
.hyphenation{
	font-family:"MundoSansPro-Medium";
	font-size:18pt;
}
.frequent{
	color:red;
}
sense{
 	display:block;
}
/***************** Custom CSS class to style for phone and tablet ****************/

/*Below style used for frequency graph*/

/*For whole frequency chart*/

/*Change container width based on the requirement*/
 .frequency-container{
  width: 220px;
  height: auto;
  color: rgba(114, 150, 184, 1);
  padding: 3px 1px 10px 12px;
  display: inline-block;
  margin-top: 10px;
  position:relative;
}
.frequency-container-phone{
  width: 86%;
  height: auto;
  color: rgba(114, 150, 184, 1);
  background-color: #ffffff;
  padding: 3px 10px 10px 3px;
  display: table;
  margin-top: 10px;
  position: relative;
  margin: 0 auto;
}
.frequency-container-hr{
  display: none;
}
.phrvbhead-cell{
	background-color:white;
}
.phrvbhead-cell .frequency-container
{
	display:none;
}
/*style for title "spoken", "written", "Top 1000" etc*/
.cell {
  width: 25%;
  min-height: 20px;
  float: left;
  text-align: left;
  font-size: 10px;
  border-color: rgba(114, 150, 184, 1);
  word-wrap: break-word;
}

/*Bars - empty*/
.cell-cont{
width:30%;
height:15px;
float:left;
border:1px solid rgba(114, 150, 184, 1);
}

/*Entire row - (spoken,3 boxes & witten, 3boxed)*/
.hori-row{
width:100%;
display:table;
text-align:center;}

/*Entire Title row - (top1000, top2000,top 3000)*/
.hori-row-title {
  width: 100%;
  display: block;
  float: left;
  min-height: 15px;
}

.hori-row .title{  width: 25%;  display: table-cell; text-align: justify; text-overflow:ellipsis; overflow: hidden;white-space: nowrap;max-width: 68px;}
.hori-row .cell-sec{  display: table-cell;  vertical-align: middle;  width: 100%;}
.table-cell{  display: table-cell;  vertical-align: middle;  width: 100%;}

.selected{
background:rgba(114, 150, 184, 1);
}


.blue-button
{
	background-color: rgb(45,62,86)!important;
	color: white !important;
	font-size: 18pt !important;
	margin: 0 3px !important;
	float:right;
}
.white-button
{
	background-color:transparent !important;
	font-size: 32pt !important;
	color: rgb(45,62,86)!important;
	text-align: center;
	margin:0 3px !important;
}
.white-button i{
	color: rgb(45,62,86)!important;
  width: 100%;
}
.white-button i.button-selected{
  color:#86AAC6!important;
  width: 100%;
}

.chevron-button
{
	background: transparent !important;
	font-size: 20pt !important;
	color: #284D69!important;
	border: none;
	padding: 0px 10px;
	display:block;
}
.chevron-button-container{
	display: table-cell;
	vertical-align: top;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.awl-icon-tablet{
	position:relative;
	bottom:-4px;
	vertical-align:baseline;
	display:inline-block;
	color: #000000 !important;
}
.awl-icon
{
	color: #000000 !important;
}
/*To make the Frequency Heading Color to Red in Frequency chart*/
.freq-level-prefix{
    color:red;
}
.PronTag,PRON,AMEVARPRON,STRONG{
    font-family:"CharisSILR";
}
.buttons-and-frequency-container{
	float:right;
	margin-left:10px;
}
.tablet .head-cell{
	position:relative;
}
hr{
    margin:0 !important;
}
span.sensenum{
	display:table-cell;
	min-width: 30px;
	text-align: left;
}
.sense-content{
	display:table-cell;
	width: 100%;
}
subsense{
	display:table;
}
.sense-main-table{
	display: table;
	padding: 10px;
}
.button-selected{
	color:#86AAC6!important;
}
/* Styles for rotation of Chevron button -- Start */
/* Generated from http://cssanimate.com/ */
.element-rotate-up{
  animation: animation-rotate-up linear 0.2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animation-rotate-up linear 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animation-rotate-up linear 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animation-rotate-up linear 0.2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animation-rotate-up linear 0.2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-rotate-up{
  0% {
    transform:  rotate(0deg) ;
  }
  100% {
    transform:  rotate(180deg) ;
  }
}

@-moz-keyframes animation-rotate-up{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  100% {
    -moz-transform:  rotate(180deg) ;
  }
}

@-webkit-keyframes animation-rotate-up {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  rotate(180deg) ;
  }
}

@-o-keyframes animation-rotate-up {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  100% {
    -o-transform:  rotate(180deg) ;
  }
}

@-ms-keyframes animation-rotate-up {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  100% {
    -ms-transform:  rotate(180deg) ;
  }
}

.element-rotate-down{
  animation: animation-rotate-down linear 0.2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animation-rotate-down linear 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animation-rotate-down linear 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animation-rotate-down linear 0.2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animation-rotate-down linear 0.2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-rotate-down{
  0% {
    transform:  rotate(180deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@-moz-keyframes animation-rotate-down{
  0% {
    -moz-transform:  rotate(180deg) ;
  }
  100% {
    -moz-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes animation-rotate-down {
  0% {
    -webkit-transform:  rotate(180deg) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) ;
  }
}

@-o-keyframes animation-rotate-down {
  0% {
    -o-transform:  rotate(180deg) ;
  }
  100% {
    -o-transform:  rotate(0deg) ;
  }
}

@-ms-keyframes animation-rotate-down {
  0% {
    -ms-transform:  rotate(180deg) ;
  }
  100% {
    -ms-transform:  rotate(0deg) ;
  }
}
/* Styles for rotation of Chevron button -- End */
.newLine{
    display:block;
}
.gramTag{
    color: #917F5C;/*light Brownish Yellow */
    font-family: "MundoSansPro";
    font-size: 16px;
}

.oppLabel,.synLabel,.thesrefLabel{

  font-size:16px;
  font-family: "MundoSansPro";
  color:#275078;
}
.oppContent,.synContent,.thesrefContent{
    font-size:16px;
    font-family:"MundoSansPro-Medium";
}

BOOKFILM{
    font-size:16px;
    font-family:"MundoSansPro";
}
.btn-disabled
{
	/* Check for uk and us sound toggle */
}

.example-audio-icon{
	font-size: 16pt;
	color: rgb(45,62,86);
	margin-right:5px;
    vertical-align: middle;
}
.example-audio-icon.playing:before{
	content: "\f1ce";
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.spokensect{
	font-size:16px;
	font-family:"MundoSansPro-Bold";
	color:  #85A8C4;
	padding:10px;
}
.pagination-header {
  min-height: 40px;
  background-color: #80A4BE;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 10000;
  -webkit-backface-visibility: hidden;
  top:0; 
  left:0;
}

.bullet{
	color: rgb(45,62,86);
	display: block;
	font-size:16px;
	font-family:"MundoSansPro";
}

.largebullet{
	color: rgb(45,62,86);
	font-family:"MundoSansPro-Bold";
	font-size:20px;
}

.pagination-buttons-container {
  float: right;
  display: block;
  padding-top: 2px;
}
span.pagination-button {
  background: #99B6CD;
  width: 30px;
  display: block;
  float: left;
  margin: 5px;
  text-align: center;
  font-family: 'MundoSansPro-Medium';
  color: white;
  padding-top: 8px;
}
span.pagination-button.selected {
	background: #497292;
}
dictionary{
	display:block;
	padding-top:40px;
}
tail{
	display: block;
}
span.lowercase{
  text-transform:none;
}

.dummy-cell{
  height: 2000px;
  display: block;
}
.boxes-examples{
	color:#32648B;
	font-family:"MundoSansPro-Italic";
	font-size:16px;
}

.redcolor{
	color:red;
}

SNS{
	font-family:"MundoSansPro";
	font-size:16px;
}

EXPL{
	font-family:"MundoSansPro";
	font-size:16px;
	display:block;
}

GOODEXA{
	font-family:"MundoSansPro-Italic";
	font-size:16px;

}
BADEXA{
	font-family:"MundoSansPro-Italic";
	font-size:16px;

}
.hide-body {
    display: none;
}
.button-disabled{
      opacity:0.3;
      background:none;
}
.imgsDiv
{
  margin-left: 15px;
  margin-top: 10px;
}
.image-phone{
    margin-left: 10px;
    margin-bottom: 9px;
}
.right-button{

  font-size: 20pt !important;
  margin: 0 3px !important;
  float:right;
  background-color: rgb(164,175,189)!important;

}

.new-button{
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
    box-shadow: 2px 2px 15px rgba(0,0,0, .75);
    box-sizing: border-box;
}
/* Align the heacell button in centre vertical*/
.inner-span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* Align the heacell button in centre vertical*/
.outer-span{
  position: relative;
}

/*Bigger font for UK button*/
.new-button.blue-button.uk-button.outer-span {
    font-size: 22pt!important;
    }

 /*Bigger font for US button*/   
.new-button.blue-button.us-button.outer-span {
    font-size: 22pt!important;
    }

.transparent-button{
    background-color: transparent !important;
    font-size: 30pt !important;
    text-align: center;
    margin: 0 3px !important;
}
.buttons-container{
    margin-right: 5px;
}
