/***** GENERATED CSS FOR  LDOCE  ***************************/

.supp
{
	background-color:gray;
}

ABBR
{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}

ACTIV
{
	display:none;
}

AMEQUIV
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

BREQUIV
{
	font-family:"MundoSansPro-Bold";
}

ColloExa
{
    font-family:"MundoSansPro";
    font-size:16px;
}

COMP
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

Crossref
{
    font-family:"MundoSansPro";
    font-size:16px;
}

Crossrefto
{
   font-family:"MundoSansPro";
    font-size:16px;
}

CROSSREFTYPE
{
    font-family:"MundoSansPro";
    font-size:16px;
}

FIELD
{
	display:none;
}

FULLFORM
{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}

GEO, span.geo
{
	font-family:"MundoSansPro-Italic";
	font-size:16px;
}

GLOSS
{
    font-family:"MundoSansPro";
    font-size:16px;
}

GramExa
{
    font-family:"MundoSansPro";
    font-size:16px;
}

Thesref{
   display:table-cell;
}

Inflections
{
    font-family:"MundoSansPro";
    font-size:16px;
}

LEXUNIT
{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
}

LEXVAR
{
	font-family:"MundoSansPro-Medium";
    font-size:16px;
}

LINKWORD
{
    font-family:"MundoSansPro-Italic";
    font-size:16px;
}

NonDV
{
    font-family:"MundoSansPro";
    font-size:16px;
}

NOTE
{
	display:none;
}

Noteprompt
{
	display:none;
}

OPP
{
	font-family:"MundoSansPro-Bold";
}

ORTHVAR
{
	 font-family:"MundoSansPro-Medium";
     font-size:16px;
}

PASTPART
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

PASTTENSE
{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
}

PhrVbEntry
{
	display:block;
}

PHRVBHWD
{
	font-weight:bold;
	/*color:blue;*/
}

PLURALFORM
{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
}

POS
{
    font-family:"MundoSansPro-Italic";
    font-size:16px;
    color:#32648B;
}

PRESPART
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

PRESPARTX
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}


PROPFORM
{
	font-family:"MundoSansPro-Medium";
    font-size:16px;
}

PROPFORMPREP
{
	font-family:"MundoSansPro-Medium";
    font-size:16px;
}

PTandPP
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

PTandPPX
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

REFHOMNUM
{
    vertical-align : super;
	font-size:12px;
	font-family:"MundoSansPro";
}

REFHWD
{
    font-size:16px;
    font-family:"MundoSansPro";
    text-transform:uppercase;
}

Crossrefto REFLEX{
	display:none;
}

REFLEX
{
	 font-family:"MundoSansPro-Bold";
     font-size:16px;
}

REFSENSENUM
{
    font-family:"MundoSansPro";
    font-size:16px;
}

REGISTERLAB
{
    font-family:"MundoSansPro-Italic";
    font-size:16px;
}

RELATEDWD
{
	 font-family:"MundoSansPro-Medium";
     font-size:16px;
}

Sense.newline
{
	display:block;
}

SIGNPOST
{
	color: #284D69;
    font-family: "MundoSansPro-Medium";
    font-size: 20px;
}

STRONG
{
	font-family: "MundoSansPro-Italic";
    font-size: 16px;
}

SUFFIX
{
    font-family:"MundoSansPro";
    font-size:16px;
}

SUPERL
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

SYN
{
    font-family:"MundoSansPro-Bold";
}

T3PERSSING
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

T3PERSSINGX
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

UNCLASSIFIED
{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
}

USAGE
{
	display:none;
}

Variant
{
    font-family:"MundoSansPro";
    font-size:16px;
}

span.neutral
{
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	font-family:"MundosansPro";
}

span.italic
{
	font-family:"MundoSansPro-Italic";
	font-size:16px;
	/*font-family:Times New roman; */
}

span.infllab
{
	font-family:"MundoSansPro-Italic";
	font-size:16px;
	/*font-family:Times New roman; */
}

span.synopp
{
	font-style:normal;
	font-weight:bold;
	color:darkblue;
}

HEADING, span.heading, .Gramref{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
	color:#20558E;
}

.gramref{
	margin-left:5px;
	margin-right:5px;
	font-family:"MundoSansPro";
	font-size:16px;

}

HEADING.newline{
	display:block;
}

SECHEADING, span.subheading{
	display:block;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
}

Collocate.newline, Exponent{
	display:block;
}

Collocate.inline{
	display:inline;
}

GramBox EXPL{
	display:block;
}

EXPL.newline{
	display:block; 
}

COLLOC{
	font-weight:bold;
}

EXP{
	font-family:"MundoSansPro-Bold";
    font-size:16px;
    color:#5B88AC;
}

EXPR{
	font-family:"MundoSansPro-Bold";
	font-size:16px;
	color:#5B88AC;
}

COLLOC.key{
	color:blue;
}

span.keycollo{
	font-weight:bold;
	color:blue;
}

THESPROPFORM{
	font-weight:bold;
}

COLLEXA{
	font-style:italic;
}

THESEXA{
	font-style:italic;
}

LearnerItem{
	display:block;
}

GOODCOLLO{
	font-style:italic;
}

BADCOLLO, BADEXA{
	text-decoration:line-through;
	font-family:"MundoSansPro-Italic";
    font-size:16px;

}

DEFBOLD{
	font-family:"MundoSansPro-Medium";
	font-size:16px;
}


span.blue{
}

CompareWord{
	display:block;
}

CompareWord, EXP{
	display:block;
}

UNDERLINE{
	text-decoration:underline;
}

.boxheader{
	display:block;
    color:#20558E;
	font-family:"MundoSansPro-Medium";
}

@font-face {
 font-family: 'MundoSansPro';
 src: url('../MundoSansPro.otf')
}
@font-face {
 font-family: 'MundoSansPro-Bold';
 src: url('../MundoSansPro-Bold.otf')
}
@font-face {
 font-family: 'MundoSansPro-Medium';
 src: url('../MundoSansPro-Medium.otf')
}
@font-face {
 font-family: 'MundoSansPro-MediumItalic';
 src: url('../MundoSansPro-MediumItalic.otf')
}
@font-face {
 font-family: 'MundoSansPro-BoldItalic';
 src: url('../MundoSansPro-BoldItalic.otf')
}
@font-face {
 font-family: 'MundoSansPro-Italic';
 src: url('../MundoSansPro-Italic.otf')
}
@font-face {
 font-family: 'MundoSansPro-Light';
 src: url('../MundoSansPro-Light.otf')
}
@font-face {
 font-family: 'MundoSansPro-LightItalic';
 src: url('../MundoSansPro-LightItalic.otf')
}
@font-face {
 font-family: 'CharisSILR';
 src: url('../CharisSILR.ttf')
}

@font-face {
 font-family: 'CharisSILI';
 src: url('../CharisSILI.ttf')
}
body{
	font-family: "MundoSansPro";
	margin:0 !important;
}

.head-cell{
    background: #EDF4FA;
    padding: 5pt;
    color: #284D69;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.hidden{
	display:none !important;
}
.super-script
{
	font-family:"MundoSansPro-Medium";
	font-size:10pt;
	vertical-align: super;
}
.freq-info{
	display:none;
}
.level{
	color:red;
}
.hyphenation{
	font-family:"MundoSansPro-Medium";
	font-size:18pt;
}
.frequent{
	color:red;
}
sense{
 	display:block;
}
/***************** Custom CSS class to style for phone and tablet ****************/

/*Below style used for frequency graph*/

/*For whole frequency chart*/

/*Change container width based on the requirement*/
 .frequency-container{
  width: 275px;
  height: auto;
  color: rgba(114, 150, 184, 1);
  background-color: #ffffff;
  padding: 3px 10px 10px 3px;
  display: inline-block;
  margin-top: 10px;
  position:relative;

}
.frequency-container-phone{
  width: 86%;
  height: auto;
  color: rgba(114, 150, 184, 1);
  background-color: #ffffff;
  padding: 3px 10px 10px 3px;
  display: table;
  margin-top: 10px;
  position: relative;
  margin: 0 auto;
}
.frequency-container-hr{
  display: none;
}
.phrvbhead-cell{
	background-color:white;
}
.phrvbhead-cell .frequency-container
{
	display:none;
}
/*style for title "spoken", "written", "Top 1000" etc*/
.cell {
  width: 25%;
  min-height: 20px;
  float: left;
  text-align: left;
  font-size: 10px;
  border-color: rgba(114, 150, 184, 1);
  word-wrap: break-word;
}

/*Bars - empty*/
.cell-cont{
width:33%;
height:15px;
float:left;
border:1px solid rgba(114, 150, 184, 1);
}

/*Entire row - (spoken,3 boxes & witten, 3boxed)*/
.hori-row{
width:100%;
display:table;
text-align:center;}

/*Entire Title row - (top1000, top2000,top 3000)*/
.hori-row-title {
  width: 100%;
  display: block;
  float: left;
  min-height: 15px;
}

.hori-row .title{  width: 25%;  display: table-cell; text-align: justify;word-break: break-all;}
.hori-row .cell-sec{  display: table-cell;  vertical-align: middle;  width: 100%;}
.table-cell{  display: table-cell;  vertical-align: middle;  width: 100%;}

.selected{
background:rgba(114, 150, 184, 1);
}


.blue-button
{
	background-color: rgb(45,62,86)!important;
	color: white !important;
	font-size: 20pt !important;
	margin: 0 3px !important;
	float:right;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
}
.PronTag,PRON,AMEVARPRON,STRONG{
    font-family:"CharisSILR";
}
.sense-content{
	display:table-cell;
	width: 100%;
}
subsense{
	display:table;
}
.sense-main-table{
	display: table;
	padding: 10px;
}
.newLine{
    display:block;
}
.gramTag{
    color: #284D69;
    font-family: "MundoSansPro";
    font-size: 16px;
}

.oppLabel,.synLabel,.thesrefLabel{

  font-size:16px;
  font-family: "MundoSansPro";
  color:#275078;
}
.oppContent,.synContent,.thesrefContent{
    font-size:16px;
    font-family:"MundoSansPro-Medium";
}

BOOKFILM{
    font-size:16px;
    font-family:"MundoSansPro";
}
.spokensect{
	font-size:16px;
	font-family:"MundoSansPro-Bold";
	color:  #85A8C4;
	padding:10px;
}

.boxes-examples{
	color:#32648B;
	font-family:"MundoSansPro-Italic";
	font-size:16px;
}

.redcolor{
	color:red;
}

SNS{
	font-family:"MundoSansPro";
	font-size:16px;
}

EXPL{
	font-family:"MundoSansPro";
	font-size:16px;
	display:block;
}

GOODEXA{
	font-family:"MundoSansPro-Italic";
	font-size:16px;

}
BADEXA{
	font-family:"MundoSansPro-Italic";
	font-size:16px;

}
